@model MVC.Models.Pokemon

<div class="card">
    <img src="@Model.Sprites.FrontDefault" alt="@Model.Name" />
    <table>
        <thead><tr><th>Stat</th><th>Valor</th></tr></thead>
        <tbody>
        @foreach (var s in Model.Stats)
        {
            <tr>
                <td>@s.StatInfo.Name.ToUpper()</td>
                <td>@s.BaseStat</td>
            </tr>
        }
        </tbody>
    </table>
</div>
